#loan {
  font-weight: 500;
}

.loan-calculator__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  gap: 18px;
}

.loan-calculator__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loan-calculator__label {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 800;
}

.loan-calculator__field {
  padding: 5px;
}

#calculator-input-sum {
  width: 8.75em;
  padding: 0.2em 0.8em;
  border: none;
  border-radius: 5px;
  background-color: rgba(35, 49, 157, 0.07);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 800;
  text-align: right;
  appearance: none;
}

#calculator-input-term {
  width: 5em;
  padding: 0.2em 0.8em;
  border: none;
  border-radius: 5px;
  background-color: rgba(35, 49, 157, 0.07);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 800;
  text-align: right;
  appearance: none;
}

#calculator-input-rate {
  width: 5em;
  padding: 0.2em 0.8em;
  border: none;
  border-radius: 5px;
  background-color: rgba(35, 49, 157, 0.07);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 800;
  text-align: right;
  appearance: none;
}

.loan-calculator__range {
  margin-top: 26px;
}

.range {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 4px;
}

#calculator-range-sumZ {
  background: linear-gradient(
    to right,
    #ffa800 0%,
    #ffa800 50%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

#calculator-range-termZ {
  background: linear-gradient(
    to right,
    #ffa800 0%,
    #ffa800 25%,
    rgba(0, 0, 0, 0.1) 25%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

#calculator-range-rateZ {
  background: linear-gradient(
    to right,
    #ffa800 0%,
    #ffa800 50%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: #ffa800;
  box-shadow: 0 0 0 3px var(--white), 0 0 0 5px #ffa800;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.loan-calculator__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 600;
  color: #000;
  opacity: 0.5;
}

.loan-calculator__field + .loan-calculator__field {
  margin-top: 20px;
}

.loan-calculator__result-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loan-calculator__atol-result {
  max-width: 250px;
}

.loan-calculator__result {
  width: 338px;
  height: 338px;
}

.loan-calculator__result-line {
  transform-origin: center;
  transform: rotate(-90deg) rotatex(180deg);
  transition: all 1s ease;
}

.loan-calculator__result-value {
  font-size: 22px;
  line-height: 30px;
  font-weight: 900;
  fill: #000;
}

.loan-calculator__result-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  fill: #000;
  opacity: 0.6;
}

.loan-calculator-info {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
  padding: 16px 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loan-calculator-info__list {
  list-style: none;
}

.loan-calculator-info__list li {
  display: flex;
  align-items: center;
}

.loan-calculator-info__list li + li {
  margin-top: 12px;
}

.loan-calculator-info__list li::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 13px;
  border-radius: 50%;
}

.loan-calculator-info__list li:nth-child(2)::before {
  background-color: #ffa800;
  content: "";
}

.loan-calculator-info__list li:nth-child(3)::before {
  background-color: #23319d;
  content: "";
}

.loan-calculator-info__value {
  font-weight: 900;
}

.loan-calculator-info__comission-title {
  font-size: 18px;
  font-weight: 800;
  color: var(--black);
}
.loan-calculator__field + .loan-calculator__field {
  margin-top: 20px;
}

.calculator__h2 {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 800;
}

.carlculator__table-result {
  margin-bottom: 20px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.carlculator__table-result {
  margin-bottom: 20px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.carlculator__table-result thead {
  background: #ffa800;
  position: sticky;
  top: -1px;
}

.carlculator__table-result tbody .loan-offers__trs td {
  border: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  text-align: center;
}

.carlculator__table-result tbody .loan-offers__trs:hover td {
  background: rgb(245, 245, 255);
}

.table-wrapper {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: auto;
  width: 100%;
  margin: 0 auto;
}

.th-padding-standart {
  padding: 10px;
  color: #fff;
}

.table-wrapper--secondary {
  max-height: 90vh;
}

.loans-offers__table {
  border-collapse: collapse;
  width: 100%;
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.loans-offers__table td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.loans-offers__table thead td:not(:first-child) {
  padding: 10px;
}
.loans-offers__table td p {
  padding-right: 8px;
}

.loan-offers__thead {
  border-spacing: 0px 0px;
  background-color: rgba(35, 49, 157, 0.07);
  border-radius: 20px 20px 0px 0px;
  font-weight: 600;
  font-size: 15px;
  line-height: 105%;
}

.loan-offers__td-sum {
  white-space: nowrap;
}
