.workplace1 {
  display: flex;
  justify-content: space-between; 
}

#credit {
  font-weight: 500;
}

.credit-calculator__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  gap: 18px;
}

input[type="hidden" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  display: none !important;
  padding: initial;
  border: initial;
}

.credit-calculator__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credit-calculator__label {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 800;
}

#calculator-input-sum {
  width: 6.75em;
  padding: 0.2em 0.8em;
  border: none;
  border-radius: 5px;
  background-color: rgba(35, 49, 157, 0.07);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 800;
  text-align: right;
  appearance: none;
}

#calculator-input-term{
  width: 2.75em;
  padding: 0.2em 0.8em;
  border: none;
  border-radius: 5px;
  background-color: rgba(35, 49, 157, 0.07);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 800;
  text-align: right;
  appearance: none;
}

#calculator-input-rate{
  width: 2.75em;
  padding: 0.2em 0.8em;
  border: none;
  border-radius: 5px;
  background-color: rgba(35, 49, 157, 0.07);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 800;
  text-align: right;
  appearance: none;
}

.credit-calculator__range {
  margin-top: 26px;
}

.range {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.range {
  height: 4px;
  border-radius: 4px;
  background-color: var(--orange);
}

.range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: var(--orange);
  box-shadow: 0 0 0 3px var(--white), 0 0 0 5px var(--orange);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: var(--orange);
  box-shadow: 0 0 0 3px var(--white), 0 0 0 5px var(--orange);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.credit-calculator__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 600;
  color: #000;
  opacity: 0.5;
}

.credit-calculator__field + .credit-calculator__field {
  margin-top: 20px;
}

.credit-calculator__result-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit-calculator__atol-result {
  max-width: 250px;
}

.credit-calculator__result {
  width: 338px;
  height: 338px;
}

.credit-calculator__result-line {
  transform-origin: center;
  transform: rotate(-90deg) rotatex(180deg);
  transition: all 1s ease;
}

.credit-calculator__result-value {
  font-size: 22px;
  line-height: 30px;
  font-weight: 900;
  fill: #000;
}

.credit-calculator__result-text {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  fill: #000;
  opacity: 0.55;
}

.credit-calculator-info {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: auto 1fr;
  gap: 90px;
  padding: 16px 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
}

.calculator__h2 {
  margin-bottom: 20px;
}

.carlculator__table-result {
  margin-bottom: 20px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}
